#block{
    color: blue;
}
h1{
    color: red;
}
.box{
    color: green;
}
/* .box{
    color: yellow;
} */
/* #block{
    color: cadetblue;
} */




/* 
id selector >class Selector >type Selector
*/

/* last Main */